html, body {
    height: 100%; margin: 0; padding: 0;
}
    
.wrap {
    display: flex;
    align-items: flex-start;
    text-align: center;
    height: 100%;
}

.column {
    margin: 1rem;
    flex: 1;
    border: 2px solid rgb(170, 154, 154);
    align-items: center;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
}

.title {
    max-width: 100%;
    max-height: 100%;
    color: white;
}

.todo {
    background-color: orange;
}
.handle {
    background-color: rgb(45, 154, 45);
}
.complete {
    background-color: rgb(86, 204, 204);
}

.input-wrap {
    height: 40px;
    border: 2px solid #CCC;
    display: flex;
    position: relative;
    bottom: 0%;
    word-wrap:break-word;
}

input {
    border: 0px none;
    cursor:pointer;
    text-align: left;
    align-items: flex-start;
    flex: 5;
    word-break: break-all;
}

ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.item {
    max-width: 100%;
    display: flex;
    list-style-image: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    color: #666;
    cursor: grab;
    border-radius: 10px;
    position: relative;
}

.div_text {
    margin: 0px;
    padding: 0px;
    flex: 6;
    word-wrap: break-word;
}

.div_text:hover{
    background-color: #eee;
}

.text {
    margin: 0px;
}

.div_button {
    margin: 0px;
    padding: 0px;
    flex: 2;
}

button {
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 1px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    background-position: center
}

.add_button {
    color: black;
    flex: 1;
}

.delete_button {
    width: 100%;
    height: 100%;
}

button:hover{
    background-color: rgb(80, 79, 79);
    color: white;
}